---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  <div class="post-categories">
  {%for category in page.categories%}
    <p class="post-category">{{category}}</p>
  {%endfor%}
  </div>
  {{ content }}
</div>
<div class="share">
{% assign raw_domain = site.url | split: "//" %}
{% assign domain_parts = raw_domain | last | split: "/" %}
{% assign clean_domain = domain_parts[0] %}
      <a class="facebook-share-button"  href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}">
          <img class="facebook-share-button" src="{{'/assets/images/facebook.svg' | absolute_url }}"/>
      </a>
  <a  href="https://twitter.com/share?url={{site.url}}{{page.url}}" class="twitter-share-button" data-show-count="false">
      <img class="twitter-share-button" src="{{'/assets/images/Twitter.svg' | absolute_url}}" />
  </a>
  <a href="https://linkedin.com/shareArticle?url={{clean_domain}}{{page.url}}&title={{page.title}}"><img class="linkedin-share-button" src="{{ '/assets/images/linkedin.svg' | absolute_url }}"> </a>

</div>
{% if site.related_posts.size >= 1 %}
<div class="related">
  <h2>Related posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url | absolute_url }}">
            {{ post.title }}
        
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
